# Getting Data from Yahoo Finance

In [1]:
pip install yfinance --upgrade --no-cache-dir

Requirement already up-to-date: yfinance in c:\programdata\anaconda3\lib\site-packages (0.1.63)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.1.3)
Requirement already satisfied, skipping upgrade: requests>=2.20 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.19.2)
Requirement already satisfied, skipping upgrade: lxml>=4.5.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.6.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import yfinance as yf

In [3]:
# Download ticker from Yahoo Finance 
df_yahoo = yf.download ("AAPL", start = "2000-01-01", end = "2010-12-31")
df_yahoo

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
1999-12-31   0.901228   0.918527   0.888393   0.917969   0.789364  163811200
2000-01-03   0.936384   1.004464   0.907924   0.999442   0.859423  535796800
2000-01-04   0.966518   0.987723   0.903460   0.915179   0.786965  512377600
2000-01-05   0.926339   0.987165   0.919643   0.928571   0.798481  778321600
2000-01-06   0.947545   0.955357   0.848214   0.848214   0.729382  767972800
...               ...        ...        ...        ...        ...        ...
2010-12-23  11.607143  11.612500  11.541786  11.557143   9.938018  223157200
2010-12-27  11.530357  11.622857  11.482857  11.595714   9.971185  249816000
2010-12-28  11.639643  11.666429  11.609286  11.623929   9.995453  175924000
2010-12-29  11.650714  11.658929  11.610714  11.617500   9.989920  163139200
2010-12-30  11.624286  11.625357  11.537500  11.559286   9.939864  157494400

[2767 rows x 6 columns]

In [4]:
# Download a list of multiple tickers 
df_yahoo2 = yf.download("MSFT AAPL", start="2000-01-01", end="2020-12-31")
df_yahoo2

[*********************100%***********************]  2 of 2 completed

             Adj Close                   Close                    High  \
                  AAPL        MSFT        AAPL        MSFT        AAPL
Date
1999-12-31    0.789364   36.991508    0.917969   58.375000    0.918527
2000-01-03    0.859423   36.932102    0.999442   58.281250    1.004464
2000-01-04    0.786965   35.684532    0.915179   56.312500    0.987723
2000-01-05    0.798481   36.060772    0.928571   56.906250    0.987165
2000-01-06    0.729382   34.852810    0.848214   55.000000    0.955357
...                ...         ...         ...         ...         ...
2020-12-23  130.542862  220.004105  130.960007  221.020004  132.429993
2020-12-24  131.549637  221.726166  131.970001  222.750000  133.460007
2020-12-28  136.254608  223.925995  136.690002  224.960007  137.339996
2020-12-29  134.440399  223.119720  134.869995  224.149994  138.789993
2020-12-30  133.294067  220.661072  133.720001  221.679993  135.990005

                               Low                    Open              \
                  MSFT        AAPL        MSFT        AAPL        MSFT
Date
1999-12-31   58.875000    0.888393   58.125000    0.901228   58.750000
2000-01-03   59.312500    0.907924   56.000000    0.936384   58.687500
2000-01-04   58.562500    0.903460   56.125000    0.966518   56.781250
2000-01-05   58.187500    0.919643   54.687500    0.926339   55.562500
2000-01-06   56.937500    0.848214   54.187500    0.947545   56.093750
...                ...         ...         ...         ...         ...
2020-12-23  223.559998  130.779999  220.800003  132.160004  223.110001
2020-12-24  223.610001  131.100006  221.199997  131.320007  221.419998
2020-12-28  226.029999  133.509995  223.020004  133.990005  224.449997
2020-12-29  227.179993  134.339996  223.580002  138.050003  226.309998
2020-12-30  225.630005  133.399994  221.470001  135.580002  225.229996

               Volume
                 AAPL      MSFT
Date
1999-12-31  163811200  12517600
2000-01-03  535796800  53228400
2000-01-04  512377600  54119000
2000-01-05  778321600  64059600
2000-01-06  767972800  54976600
...               ...       ...
2020-12-23   88223700  18699600
2020-12-24   54930100  10550600
2020-12-28  124486200  17933500
2020-12-29  121047300  17403200
2020-12-30   96452100  20272300

[5284 rows x 12 columns]

In [5]:
# Set to download only the adjusted price 
df_yahoo3 = yf.download("AAPL", start="2000-01-01", end="2020-12-31", auto_adjust = True)
df_yahoo3

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close     Volume
Date
1999-12-31    0.774969    0.789844    0.763932    0.789364  163811200
2000-01-03    0.805199    0.863742    0.780726    0.859423  535796800
2000-01-04    0.831112    0.849346    0.776888    0.786965  512377600
2000-01-05    0.796562    0.848866    0.790804    0.798481  778321600
2000-01-06    0.814797    0.821514    0.729382    0.729382  767972800
...                ...         ...         ...         ...        ...
2020-12-23  131.739037  132.008166  130.363427  130.542862   88223700
2020-12-24  130.901713  133.034896  130.682413  131.549637   54930100
2020-12-28  133.563211  136.902532  133.084729  136.254608  124486200
2020-12-29  137.610278  138.347911  133.912089  134.440399  121047300
2020-12-30  135.148143  135.556841  132.975079  133.294067   96452100

[5284 rows x 5 columns]

In [6]:
# Additionally download dividends and stock splits  
df_yahoo4 = yf.download("AAPL", start="2000-01-01", end="2020-12-31", actions = "inline")
df_yahoo4

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1999-12-31,0.901228,0.918527,0.888393,0.917969,0.789364,163811200,0.0,0.0
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.859423,535796800,0.0,0.0
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.786965,512377600,0.0,0.0
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.798481,778321600,0.0,0.0
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.729382,767972800,0.0,0.0
...,...,...,...,...,...,...,...,...
2020-12-23,132.160004,132.429993,130.779999,130.960007,130.542862,88223700,0.0,0.0
2020-12-24,131.320007,133.460007,131.100006,131.970001,131.549637,54930100,0.0,0.0
2020-12-28,133.990005,137.339996,133.509995,136.690002,136.254608,124486200,0.0,0.0
2020-12-29,138.050003,138.789993,134.339996,134.869995,134.440399,121047300,0.0,0.0
2020-12-30,135.580002,135.990005,133.399994,133.720001,133.294067,96452100,0.0,0.0